@import '../../scss/global';

.contactItem {
  font-size: 2rem;
  border: 3px solid lighten($primaryColor, 20);
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  @include easeOut;

  &:hover {
    padding: 0.5rem 1.5rem;
    background: darken($secondaryColor, 15);
    color: setTextColor($secondaryColor);
    span {
      color: setTextColor($secondaryColor);
    }
  }
}