@import '../../scss/global';

.aboutInfo {
  display: grid;
  grid-gap: 30px;
  justify-items: center;
  img {
    height: 150px;
    width: 150px;
  }
}

.bioImage{
  margin: auto;
  border-radius: 50%;
  border: $secondaryColor 3px solid;
}

.bioWord {
  font-weight: 600;
  font-size: 1.5rem;
}

//Widescreens
@include mediaXl {
  .responsiveGrid {
    grid-template-columns: repeat(4, 1fr);
  }
  .bio {
    grid-column: 2 / -1;
  }
}

//desktops & Laptops
@include mediaLg {
  .responsiveGrid {
    grid-template-columns: repeat(3, 1fr);
  }
  .bio {
    grid-column: 2 / -1;
  }
}

//Tablets & small Laptops
@include mediaMd {
  .responsiveGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .bio {
    grid-column: 2 / -1;
  }
}

//Smartphones
@include mediaSm {
  .responsiveGrid {
    grid-template-columns: 1fr;
  }
  .bio {
    grid-column: 1;
  }
}
