@import '../../../../scss/navShared';

.navMenu {
  @include navItem;
  margin: 0;
  padding: 0;
  background: darken($primaryColor, 5);
  list-style: none;
  transform: translateY(-100%);
  opacity: 0.9;
}

//Tablets & small Laptops
@include mediaMd {
  .navMenu {
    height: 75vh;
    transform: translateX(-100%);
  }
}