@import '../../scss/global';

.projects {
  display: grid;
  grid-gap: 0.7rem;
  justify-items: center;
}

//Widescreens
@include mediaXl {
  .responsiveGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

//desktops & Laptops
@include mediaLg {
  .responsiveGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

//Tablets & small Laptops
@include mediaMd {
  .responsiveGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

//Smartphones
@include mediaSm {
  .responsiveGrid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

