@import '../../../../scss/navShared';

.branding {
  @include navItem;
  background: rgba($primaryColor, 0.9);
  transform: translateY(100%);
}

.portrait {
  object-fit: fill;
  width: 250px;
  height: 250px;
  background: url('../../../../assets/img/RandeeBust500x500.jpg');
  border-radius: 50%;
  border: solid 3px $secondaryColor;
  background-repeat: no-repeat;
  background-size: cover;
}

//Tablets & small Laptops
@include mediaMd {
  .branding {
    transform: translateX(100%);
    height: 25vh;
  }
  .portrait {
    width: 150px;
    height: 150px;
  }
}
