@import '../../../scss/config';
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.show {
  visibility: show;
}

.hide {
  visibility: hidden;
}

//Tablets & small Laptops
@include mediaMd {
  grid-template-columns: 1fr;
}

//Smartphones
@include mediaSm {

}