@import './config';

//Button Styles
$btnBackgroundDark: darken($primaryColor, 15);
$btnBackgroundLight: lighten($primaryColor, 40);

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  @include easeOut;
  &:hover{
    background: $secondaryColor;
    color: setTextColor($secondaryColor);
  }
}

.btnDark {
  @extend .btn;
  background: $btnBackgroundDark;
  color: setTextColor($btnBackgroundDark);
}

.btnLight {
  @extend .btn;
  background: $btnBackgroundLight;
  color: setTextColor($btnBackgroundLight);
}

.btnDisabled {
  border: 1px solid $dangerColor;
  &:hover {
    background: $dangerColor;
    border: 1px solid $btnBackgroundDark;
    cursor: not-allowed;
  }
}