@import 'global';

@mixin navItem {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  @include easeOut;

  &.show {
    //slide in from top
    transform: translateY(0);
  }
}

