@import 'config';

//set all box sizing to border-box and inherit incase we want to overwrite it.
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

//standardize body dimensions
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  color: setTextColor($primaryColor);
  height: 100%;
  background-attachment: fixed;
  background-image: url('../../assets/img/background.jpg');
}

main {
  //Calculate the height of the page - 60px for the footer.
  min-height: calc(100vh - 60px);
  background: rgba($primaryColor, $backgroundOpacity);
}

a {
  color: setTextColor($primaryColor);
  text-decoration: none;
}


//headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

